.wrapper {
    padding: 25px;
}

.title {
    margin-bottom: 50px;
}

.title h1 {
    font-size: 3em;
    text-decoration: underline;
}

.mainConteiner {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.imgCont {
    margin-right: 25px;
}

.imgCont img {
    max-width: 800px;
    border-radius: 8px;
}

p {
    line-height: 1.3em;
    font-size: 1.8em;
}